//
//  Release.xcconfig
//  Hello Loop
//

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

VALIDATE_PRODUCT = YES

ENABLE_NS_ASSERTIONS = NO

MTL_ENABLE_DEBUG_INFO = NO

INFOPLIST_FILE = Hello-Loop/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = ms.loop.Hello-Loop

PRODUCT_NAME = $(TARGET_NAME)

FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
